*{
  margin: 0px;
  padding: 0px 0px 0px 0px;
}
/* visual body*/
body {
  background: url("FONDO1.jpg");
  color: white;
  font-family: sans-serif;
  margin: 50pxpx;
}
/* visual logo*/
#logo {
  width:1000px;
  height:350px;
  margin-left: 420px;
  margin-bottom:35px;
  padding-right:0px;
  background-position: center;
  position: relative;
}
/* visual parrafo inicial*/
.columnas {
  position: relative;
  column-count: 2;
  column-gap: 3em;
  margin: 0 auto;
  text-align: justify;
  padding:40px;
  border:#02BFCC 4px solid;
  border-top-left-radius:50px;
  border-bottom-right-radius:50px;
  border-top-right-radius:50px;
  border-bottom-left-radius:50px;
  width: 90%;
  max-width: 850px;
  background-color: rgba(0, 0, 0,.6)
}
/* visual imagen de paguina principal*/
#room{
  width: 350px;
  height: 300px;
  border-radius:10px;
  position: relative;
  top:  70px;
  left: 45px;
}

.reservacion{
  position: relative;
  top: 60px;
  left: -40px;
}
/* visual boton reserva*/
#botonReserva{
  position: relative;
  top:  10px;
  left: 45px;
  font-size:22px;
  font-family:Verdana,Helvetica;
  font-weight:bold;
  color:white;
  background:rgba(2,196,211) ;
  border:0px;
  width:160px;
  height:60px;
  margin: 0px 0px 0px 150px;
  border-top-left-radius:50px;
  border-bottom-right-radius:50px;
  border-top-right-radius:50px;
  border-bottom-left-radius:50px;
  transition: 0.3s;
}
/* visual boton confirmar reserva*/
.incluye1{
  column-count: 2;
  column-gap: 3em;
  text-align: justify;
  margin: 20px auto;
  padding:40px;
  border: #02BFCC 4px solid;
  border-top-left-radius:50px;
  border-bottom-right-radius:50px;
  border-top-right-radius:50px;
  border-bottom-left-radius:50px;
  width: 90%;
  max-width: 850px;
  background-color: rgba(0, 0, 0,.6);
}

/* visual boton confirmar reserva*/
#botonConfirmarReserva{
  position: relative;
  left: 200px;
  font-size: 15px;
  font-family:Verdana,Helvetica;
  color:white;
  background:rgba(2,196,211) ;
  border:0px;
  width:160px;
  height:50px;
  margin: 0px 0px 0px 150px;
  border-top-left-radius:50px;
  border-bottom-right-radius:50px;
  border-top-right-radius:50px;
  border-bottom-left-radius:50px;
  transition: 0.3s;
}
/* efecto boton */
#botonConfirmarReserva:hover, #volver:hover, #nuevaReserva:hover,#inicio:hover, #botonReserva:hover{
  transform: scale(1.2);
}
/* visual boton volver*/
#volver{
  position: relative;
  top: 30px;
  right: 50px;
  font-size: 15px;
  font-family:Verdana,Helvetica;
  color:white;
  background:rgba(2,196,211) ;
  border:0px;
  width:160px;
  height:30px;
  margin: 0px 0px 0px 150px;
  border-top-left-radius:50px;
  border-bottom-right-radius:50px;
  border-top-right-radius:50px;
  border-bottom-left-radius:50px;
  transition: 0.3s;
}

/* visual boton nueva reserva*/
#nuevaReserva{
  position: relative;
  font-size: 15px;
  font-family:Verdana,Helvetica;
  color:white;
  background:rgba(2,196,211) ;
  border:0px;
  width:160px;
  height:50px;
  margin: 0px 0px 0px 150px;
  border-top-left-radius:50px;
  border-bottom-right-radius:50px;
  border-top-right-radius:50px;
  border-bottom-left-radius:50px;
  transition: 0.3s;
}

/* visual boton inicio */
#inicio{
  position: relative;
  left: 60px;
  font-size: 15px;
  font-family:Verdana,Helvetica;
  color:white;
  background:rgba(2,196,211) ;
  border:0px;
  width:160px;
  height:50px;
  margin: 0px 0px 0px 150px;
  border-top-left-radius:50px;
  border-bottom-right-radius:50px;
  border-top-right-radius:50px;
  border-bottom-left-radius:50px;
  transition: 0.3s;
}


/* visual de boton validar */
#validar{
  position: relative;
  right: 50px;
  font-size: 15px;
  font-family:Verdana,Helvetica;
  border:0px;
  width:100px;
  height:20px;
  margin: 0px 0px 0px 60px;
  border-top-left-radius:20px;
  border-bottom-right-radius:20px;
  border-top-right-radius:20px;
  border-bottom-left-radius:20px;
  transition: 0.3s;
}

/* visual de formulario completo*/
#formularioInicial{    
  text-align: justify;
  margin: 0 auto;
  text-align: justify;     
  /*margen interior del cuadrado*/
  margin-top: 30px;
  padding:40px 50px 60px 50px;
  border: #02BFCC 4px solid;
  border-radius: 20px;
  background-color: rgba(0, 0, 0,.6);
  width: 90%;
  max-width: 650px;
  }
/* visual de fooder*/
.contacto{
  text-align: center;
  margin: 10px;
  padding: 5px;     
  /* efecto transparencia*/
  background-color: rgba(0, 0, 0,.75);
}

label{
  display: inline-block;
}
/* visual de imagenes que se encuentran en el formulario*/
#room_1, #room_2, #room_3{
  width: 150px;
  height: 150px;
  border: #02BFCC 4px solid;
  border-radius: 20px;
  margin: 3%
}

.habitacion{
  margin-left: 40px;
}
/* visual de pantalla cuando la reserva ya fue realizada */
#reservaRealizada{
  text-align: justify;
  margin: 20px auto;
  padding:40px;
  border: #02BFCC 4px solid;
  border-top-left-radius:50px;
  border-bottom-right-radius:50px;
  border-top-right-radius:50px;
  border-bottom-left-radius:50px;
  width: 90%;
  max-width: 850px;
  background-color: rgba(0, 0, 0,.6);
}
